{{define "title"}}Create AnsV{{end}}
{{define "main"}}
<form action='/honorarium/create/ansv' method='POST'>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

<div class="clearfix">
<div class="left">
<div>
<label>Branch:</label>
{{with .Form.FieldErrors.branch}}
<label class='error'>{{.}}</label>
{{end}}
<select name="branch">
  <option disabled selected > Select an option </option>
{{range .Programmes}}
  <option value="{{.Branch}}">{{.Branch}}</option>
{{end}}
</select>
</div>
<div>
<label>Course Code:</label>
{{with .Form.FieldErrors.coursecode}}
<label class='error'>{{.}}</label>
{{end}}
<select name="coursecode">
  <option disabled selected > Select an option </option>
{{range .Courses}}
  <option value="{{.CourseCode}}">{{.CourseCode}}</option>
{{end}}
</select>
</div>
</div>
</div>

<div>
<label>AnswerScript Count:</label>
{{with .Form.FieldErrors.asc}}
<label class='error'>{{.}}</label>
{{end}}
<input type='number' name='ac'>
</div>


<div>
<input type='submit' value='Submit'>
</div>

</form>
{{end}}
