{{define "title"}}Bank Details{{end}}
{{define "main"}}
<form action='/faculty/bankdetails' method='POST' novalidate>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

<div>
<label>Bank Name:</label>
{{with .Form.FieldErrors.bankname}}
<label class='error'>{{.}}</label>
{{end}}
<select name="bankname">
  <option disabled selected > Select an option </option>
  <option value="Canara Bank">Canara Bank</option>
  <option value="Indian Bank">Indian Bank</option>
  <option value="State Bank of India">State Bank of India</option>
</select>
</div>

<div>
<label>Account Number:</label>
{{with .Form.FieldErrors.accountno}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='accountno'>
</div>

<div>
<label>IFSC Code:</label>
{{with .Form.FieldErrors.IFSC}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='IFSC'>
</div>

<div>
<label>Passbook:</label>
{{with .Form.FieldErrors.passbook}}
<label class='error'>{{.}}</label>
{{end}}
<input type='file' name='passbook' value='{{.Form.Passbook}}' disabled>
</div>

<div> 
<input type='submit' value='Submit'>
</div>

</form>
{{end}}
