{{define "title"}}Honorarium #{{.Honorarium.TransactionID}}{{end}}
{{define "main"}}
{{$iaz:=.IsAuthorized}}
<table>
{{with .QPK}}
	<tr>
	<th>Question Paper Count:</th>
	<td> {{.QuestionPaperCount}}</td>
	</tr>
	<tr>
	<th>Question Paper Rate:</th>
	<td>{{.QuestionPaperRate}}</td>
	</tr>
	<tr>
	<th>Key Count:</th>
	<td>{{.KeyCount}}</td>
	</tr>
	<tr>
	<th>Key Rate:</th>
	<td>{{.KeyRate}}</td>
	</tr>
{{else}}
	{{with .VP}}
	<tr>
	<th>AnswerScript Rate:</th>
	<td>{{.AnswerScriptRate}}</td>
	</tr>
	<tr>
	<th>AnswerScript Count:</th>
	<td>{{.AnswerScriptCount}}</td>
	</tr>
	{{end}}
{{end}}
	{{with .Honorarium}}
	<tr>
	<th>Branch:</th>
        <td>{{.Branch}}</td>
	</tr>
	<tr>
	<th>Course Code:</th>
        <td>{{.CourseCode}}</td>
	</tr>
	<tr>
	<th>Initial Amount:</th>
        <td>{{.InitialAmount}}</td>
	</tr>
	<tr>
	<th>Final Amount:</th>
        <td>{{.FinalAmount}}</td>
	</tr>
	<tr>
	<th>Created at:</th>
        <td>{{humanDate .CreatedTime}}</td>
	</tr>
	</tr>
</table>
	<a class="right" {{if $iaz}}href="/faculty/view/{{.FacultyID}}/honorarium/{{.TransactionID}}/print"{{else}}href="/honorarium/view/{{.TypeID}}/{{.TransactionID}}/generate"{{end}} >Print Preview</a>
        {{end}}
{{end}}
{{define "sidebar"}}
{{with .Faculty}}
<button id="openbtn">Faculty Details</button>  
<div id="rightside">
<table>
<tr>
    <th>Faculty ID</th>
    <td>{{.ID}}</td>
</tr>
    <th>Name</th> 
    <td>{{.Name}}</td>
</tr>
<tr>
    <th>Designation</th> 
    <td>{{.Designation}}</td>
</tr>
<tr>
    <th>Department</th> 
    <td>{{.DepartmentName}}</td>
</tr>
<tr>
    <th>Faculty Type</th> 
    <td>{{.FacultyType}}</td>
</tr>
<tr>
    <th>Phone No</th>
    <td>{{.Phone}}</td>
</tr>
<tr>
    <th>Extension No</th> 
    <td>{{.Extension}}</td>
</tr>
<tr>
    <th>Pan ID</th> 
    <td>{{.PanPicture}}</td>
</tr>
<tr>
    <th>TDS</th> 
    <td>{{multiplyFloat .TDS 100}}%</td>
</tr>
</table>
</div>
{{end}}
{{end}}
