{{define "title"}}Honorarium{{end}}
{{define "main"}}
<table>
{{if .Honoraria}}
<tr>
{{range .Honoraria}}
<td>
<button type="button" class="collapsible">{{.CourseCode}}</button>
</td>
<td>
<strong><a href="/honorarium/view/{{.TransactionID}}">{{.TransactionID}}</a></strong>
</td>
<td><code>{{.InitialAmount}}</code></td>
<td><code>{{.FinalAmount}}</code></td>
<td>Created Time: {{humanDate .CreatedTime}}</td>
{{end}}
</tr>
{{else}}
<h2>Please create a new honorarium</h2>
{{end}}
{{end}}
