{{define "title"}}Signup{{end}}
{{define "main"}}

<form action='/faculty/signup' method='POST' enctype="multipart/form-data" novalidate>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

<div>
<label>Faculty ID:</label>
{{with .Form.FieldErrors.facultyid}}
<label class='error'>{{.}}</label>
{{end}}
<input type='number' name='facultyid' value='' required>
</div>

<div>
<label>Name:</label>
{{with .Form.FieldErrors.name}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='name' value='{{.Form.Name}}' required>
</div>


<div>
<label>Phone Number:</label>
{{with .Form.FieldErrors.phone}}
<label class='error'>{{.}}</label>
{{end}}
<input type='tel' name='phone' value='{{.Form.Phone}}' required>
</div>

<div>
<label>Email:</label>
{{with .Form.FieldErrors.email}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='email' value='{{.Form.Email}}' required>
</div>

<div>
<label>Extension Number:</label>
{{with .Form.FieldErrors.extnumber}}
<label class='error'>{{.}}</label>
{{end}}
<input type='tel' name='extnumber' value='{{.Form.Extension}}' required>
</div>

<div>
<label>Department:</label>
{{with .Form.FieldErrors.dept}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='dept' value='{{.Form.Department}}' required>
</div> 

<div>
<label>Faculty Type:</label>
{{with .Form.FieldErrors.facultytype}}
<label class='error'>{{.}}</label>
{{end}}
<select name="facultytype">
  <option disabled selected value> Select an option </option>
  <option value="Permanent">Permanent</option>
  <option value="Visiting">Visiting</option>
  <option value="Contract/Guest">Contract/Guest</option>
</select>
</div>

<div>
<label>Designation:</label>
{{with .Form.FieldErrors.designation}}
<label class='error'>{{.}}</label>
{{end}}
<select name="designation">
  <option disabled selected value value=''> Select an option </option>
  <option value="Professor">Professor</option>
  <option value="Assistant Professor">Assistant Professor</option>
  <option value="Associate Professor">Associate Professor</option>
  <option value="Teaching Fellow">Teaching Fellow</option>
</select>
</div>

<div>
<label>PanID:</label>
{{with .Form.FieldErrors.panid}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='panid' value='{{.Form.PanID}}' required>
</div>

<div>
<label>Pan Picture:</label>
{{with .Form.FieldErrors.panpic}}
<label class='error'>{{.}}</label>
{{end}}
<input type='file' name="panpic" value='{{.Form.PanPicture}}' accept='image/*'>
</div>

<div>
<label>E-sign:</label>
{{with .Form.FieldErrors.esign}}
<label class='error'>{{.}}</label>
{{end}}
<input type='file' name="esign" value='{{.Form.Esign}}' accept='image/*' >
</div>

<div>
<label>Password:</label>
{{with .Form.FieldErrors.password}}
<label class='error'>{{.}}</label>
{{end}}
<input type='password' name='password'>

</div>
<div>
<input type='submit' value='Signup'>
</div>

</form>
{{end}}
