{{define "printb"}}
<!doctype html>
<html lang="en">
        <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/print.css' type="text/css">
        </head>
<body id="print">
 <header>
       <table class="header center" style="text-align:center;">
                <tr class="noBorder">
                <th rowspan="2">
                <img src='/static/img/ceg.jpg' width="100" height="100">
                </th>
                <th>
                        OFFICE OF THE ADDITIONAL CONTROLLER OF EXAMINATIONS<br>(UNIVERSITY DEPARTMENTS)<br>ANNA UNIVERSITY::CHENNAI 25<br><br>
                        Honorarium for Setting {{if eq .Honorarium.TypeID 1}} Question Paper/Key {{else}} Paper Valuation {{end}} including Typing Charges<br>
                </th>
                </tr>
                <tr class="noBorder"><td>
                       {{with index .Programmes 0}} ({{.Degree}})({{.DegreeType}}){{end}} Examinations - ..............20.....
                </td></tr>
        </table>
       <table class="center">
                <tr>
                        <td rowspan="2" width="100">Name:</td>
                        <td rowspan="2" width="250">{{.Faculty.Name}}</td>
                        <td width="170">SBI A/c No:</td>
                        <td>{{if eq .BankDetails.BankName "State Bank of India"}}{{.BankDetails.AccountNumber}}{{else}}-{{end}}</td>
                </tr>
                <tr>
                        <td>IFSC No:</td>
                        <td>{{if eq .BankDetails.BankName "State Bank of India"}}{{.BankDetails.IFSC}}{{else}}-{{end}}</td>
                </tr>

                <tr>
                        <td rowspan="2">Designation:</td>
                        <td rowspan="2">{{.Faculty.Designation}}</td>
                        <td>Canara A/c No:</td>
                        <td>{{if eq .BankDetails.BankName "Canara Bank"}}{{.BankDetails.AccountNumber}}{{else}}-{{end}}</td>
                </tr>
                <tr>
                        <td>IFSC No:</td>
                        <td>{{if eq .BankDetails.BankName "Canara Bank"}}{{.BankDetails.IFSC}}{{else}}-{{end}}</td>
                </tr>

                <tr>
                        <td rowspan="2">Department:</td>
                        <td rowspan="2">{{.Faculty.DepartmentName}}</td>
                        <td>Indian Bank A/c No:</td>
                        <td>{{if eq .BankDetails.BankName "Indian Bank"}}{{.BankDetails.AccountNumber}}{{else}}-{{end}}</td>
                </tr>
                <tr>
                        <td>IFSC No:</td>
                        <td>{{if eq .BankDetails.BankName "Indian Bank"}}{{.BankDetails.IFSC}}{{else}}-{{end}}</td>
                </tr>
 </header>
 <main>
  {{template "main" .}}
 </main>
 <script src="/static/js/print.js" type="text/javascript"></script>
</body>
</html>
{{end}}
