{{define "nav-admin"}}
<nav>
<div>
<a href='/'>Home</a>
<a href='/honorarium/'> Honorarium</a>
<a href='/faculty/view'> Faculty </a>
</div>
<div>
<form action='/user/logout' method='POST'>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
<button>Logout</button>
</form>
</div>
</nav>
{{end}}
