{{define "nav"}}
<nav>
<div>
<a href='/'>Home</a>
<div class="dropdown">
<a> Honorarium</a>
<div class="dropdown-content">
<a href="/honorarium/qpk/create">Question Paper/Key</a>
<a href="/honorarium/ansv/create">Answerscript</a>
</div>
</div>

</div>
<div>
{{if .IsAuthenticated}}
<form action='/faculty/logout' method='POST'>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
<button>Logout</button>
</form>
{{else}}
<a href='/faculty/signup'>Signup</a>
<a href='/faculty/login'>Login</a>
{{end}}
</div>
</nav>
{{end}}
